body, html {
    color: #fb4934;
    background: #282828;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}
.preview {
    width: 80vw;
    height: 70vh;
    background: #3c3836;
}
.shutters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 64px;
    height: 128px;
    background: #28282899;
    position: absolute;
    right: 20vw;
    top: calc(35vh - 64px);
}
.preview-shutter {
    all: unset;
    background: #ebdbb2;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition-duration: 100ms;
}
.preview-shutter:hover {
    all: unset;
    background: #fbf1c7;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition-duration: 100ms;
}
.preview-shutter:active {
    all: unset;
    background: #cc241d;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    transition-duration: 100ms;
}
.preview-shutter-active {
    all: unset;
    background: #cc241d;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    transition-duration: 100ms;
}
.capture-shutter {
    all: unset;
    background: #ebdbb2;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    transition-duration: 100ms;
}
.capture-shutter:hover {
    all: unset;
    background: #fbf1c7;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    transition-duration: 100ms;
}
.capture-shutter:active {
    all: unset;
    background: #cc241d;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    transition-duration: 100ms;
}
.capture-shutter-active {
    all: unset;
    background: #cc241d;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    transition-duration: 100ms;
}
.panel {
    display: flex;
    width: 70vw;
    height: 30vh;
}
.histogram {
    background: #1d2021;
    width: 30vw;
    height: 30vh;
}
.files {
    width: 40vw;
    height: 30vh;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #1d2021;
    width: 20vw;
    height: 100vh;
}
.ctrls-head {
    font-size: 28px;
}
.control {
    width: calc(20vw - 16px);
    margin: 5px;
}
input {
    margin-right: 3px;
}
.res-input {
    width: 53px;
}
.exposure-input {
    width: 64px;
}
.gain-input {
    width: 69px;
}

