<html>
    <head>
        <title>AstroPi Home</title>
        <link rel="icon" type="image/x-icon" href="../static/assets/AstroPi.ico">
        <link rel="stylesheet" href="../static/css/index.css">
        <script>
            async function updateLogs() {
                requestAnimationFrame(updateLogs);
                let logs = await fetch("/logs");
                logs = await logs.text();
                document.getElementById('logs').innerText = logs;
            }
            requestAnimationFrame(updateLogs)
        </script>
    </head>
    <body>
        <div class="topbar">
            <img clsas="topbar-icon" src="../static/assets/AstroPi.png" alt="AstroPi Icon" width="48" height="48">
            <h1 class="topbar-title">AstroPi</h1>
        </div>
        <div class="logs">
            <pre id="logs"></pre>
        </div>
    </body>
</html>