<html>
    <head>
        <title>AstroPi Home</title>
        <link rel="icon" type="image/x-icon" href="../static/assets/AstroPi.ico">
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <div class="topbar">
            <img clsas="topbar-icon" src="../static/assets/AstroPi.png" alt="AstroPi Icon" width="48" height="48" onclick="window.location.href = '/'">
            <h1 class="topbar-title">AstroPi | Home</h1>
        </div>
        <div class="logs">
            <a href="/log" class="navlink">Check Logs</a><br>
            <a href="/preview" class="navlink">Preview</a><br>
            <a href="/capture" class="navlink">Capture</a><br>
            <a href="/download" class="navlink">Download Your Subs</a>
        </div>
    </body>
</html>