<html>
    <head>
        <title>AstroPi Logs</title>
        <link rel="icon" type="image/x-icon" href="../static/assets/AstroPi.ico">
        <link rel="stylesheet" href="../static/css/index.css">
        <script>
            async function update() {
                requestAnimationFrame(update);
                let logs = await fetch("/logs");
                logs = await logs.text();
                const element = document.getElementById('logs');
                if(logs != element.innerText) {
                    element.innerText = logs;
                    element.scrollTop = element.scrollHeight;
                }
            }
            requestAnimationFrame(update)
        </script>
    </head>
    <body>
        <div class="topbar">
            <img clsas="topbar-icon" src="../static/assets/AstroPi.png" alt="AstroPi Icon" width="48" height="48" onclick="window.location.href = '/'">
            <h1 class="topbar-title">AstroPi | Logs</h1>
        </div>
        <div class="logs">
            <pre id="logs"></pre>
        </div>
    </body>
</html>